:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 15vh;
}

#header {
  position: absolute;
  top: 4vh;
}

button {
  position: fixed;
  bottom: 1vh;
  right: 0.25vw;
}

.question {
  width: 40vw;
  margin: 5vh 3vw;
  padding: 1vh 2vw 3vh 2vw;
  border-radius: 5px;
  box-shadow: 1px 1px 9px 0 #dbdbdb;
}
