<div id="header">
  <h1>5AHITM Class Survey Results</h1>

  <span>provided and crafted by <a href="https://dorfingerjonas.at/">Jonas Dorfinger</a> & <a href="https://schollsebastian.com/">Sebastian Scholl</a></span>
</div>

<button (click)="showResult = !showResult" mat-fab color="accent">
  <mat-icon>{{ showResult ? 'visibility_off' : 'visibility' }}</mat-icon>
</button>

<div *ngFor="let result of results" class="question">
  <app-chart [id]="result.question" [name]="result.question" [result]="result.result"></app-chart>

  <ol *ngIf="showResult">
    <li *ngFor="let answer of result.result">
      {{ answer.key }}: {{ (answer.value.relative * 100).toFixed(2) }}% ({{ answer.value.absolute }})
    </li>
  </ol>
</div>
